* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

.hero{
    background: url(./images/top-banner.png) no-repeat;
    padding-top: 2%;
    display: flex;
    align-items: center;

}
.hero .half-width{
    
}
.hero h1{
    font-size: 50px;
}
.hero h1 span{
    color: orangered;
}
.half-width{
    width: 50%;
    margin: 3%;
}
img{
    width: 100%;
}
.button-link{
    margin-top: 15px;
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}

.dream-big{
    display: flex;
    align-items: center;
}